*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-bg: rgb(20, 20, 20);
    --clr-grad-1: rgb(49, 34, 189);
    --clr-grad-2: rgb(226, 18, 108);
    --clr-grad-3: rgb(141, 90, 200);
    --clr-font: white;
    --bg-chat: rgb(14, 168, 14);
    --bg-chat-hover: rgb(63, 185, 63);
    --background: linear-gradient(90deg, var(--clr-grad-1), var(--clr-grad-2), var(--clr-grad-3)) no-repeat;
    background-size: cover;
}

html,
body {
    min-height: 100%;
}

body {
    background: var(--background);
    color: var(--clr-font);
    margin: .2rem;
    font-family: 'Poppins';
    font-size: 1em;
    overflow-x: hidden;
}

/*HEADER*/

header {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
    column-gap: .2rem;
}

.box {
    background-color: var(--clr-bg);
}

.name {
    font-size: 2em;
    font-weight: 700;
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
}

.name span {
    pointer-events: none;
    font-size: 1.1em;
    background: var(--background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contatos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 7rem;
}

.icons {
    padding: 0 .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: .6rem;
}

.icons:has(#linkIcon) {
    color: var(--clr-grad-3);
}

.icon a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--clr-font);
    transition: color .2s ease-in-out;
}

.icon a:hover, .icon a:focus {
    color: currentColor;
}

.icon a #linkIcon {
    display: none;
}

.icon a:hover>#linkIcon, .icon a:focus>#linkIcon {
    display: block;
    animation: up .3s;
}

@keyframes up {
    0% {
        transform: translateY(5px);
        opacity: .4;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.account {
    border-top-right-radius: .6rem;
    padding: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account a {
    text-decoration: none;
    color: var(--clr-font);
    transition: all .2s ease-in-out;
}

.account a:hover {
    color: var(--clr-grad-3);
}

#popUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: .6rem;
    padding: 0;
    display: none;
    z-index: 1;
    animation: none;
    font-size: 1em;
}

@keyframes popFade {
    0% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

#popUpContent {
    position: relative;
    padding: 0 .5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: var(--clr-bg);
}

#popUpContent::before,
#popUpContent::after {
    content: "";
    position: absolute;
    inset: -.2rem;
    background: var(--background);
    border-radius: inherit;
    z-index: -1;
}

#popUpContent::after {
    filter: blur(3.5rem);
}

#popUpContent h1 {
    pointer-events: none;
    font-size: 2rem;
    background: linear-gradient(90deg, var(--clr-grad-1), var(--clr-grad-2)) no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#popUpContent span {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 1px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    border-radius: 50%;
    transition: .3s;
}
#popUpContent span:hover{
    background-color: rgb(228, 83, 83) ;
}

#popUpContent:has(p) {
    font-size: 1em;
    color: var(--clr-font);
}

/*HEADER*/

/*MAIN*/

main {
    width: 100%;
    min-height: 92dvh;
    display: grid;
    grid-template-columns: 7fr;
    gap: .2rem;
    margin-top: .2rem;
}

.main-content {
    background-color: var(--clr-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .6rem;
}

aside {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

aside h2 {
    font-size: 2em;
    font-weight: 700;
    opacity: .9;
}

aside h1 {
    pointer-events: none;
    font-size: 2.1em;
    background: var(--background);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

aside p {
    line-height: 2rem;
    font-size: 1.1em;
}

aside form {
    display: flex;
    width: 20rem;
    flex-direction: column;
}

aside form input {
    height: 1.5rem;
    background-color: white;
    border: none;
    border-radius: .2rem;
    padding: 0 .5rem;
}

#resultadoLabel {
    display: grid;
    place-content: center;
    height: 1rem;
    margin-top: 5px;
    color: rgb(247, 0, 0);
}

#criarBtn {
    background-color: transparent;
    font-family: 'Poppins';
    font-size: 1em;
    line-height: .2rem;
    text-align: center;
    color: white;
    margin-top: 1rem;
    border: 3px solid var(--clr-grad-3);
    transition: .3s;
}

#criarBtn:hover {
    background-color: var(--clr-grad-3);
}

.bottom-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.bottom-row a {
    text-decoration: none;
    color: var(--clr-font);
    transition: all .2s ease-in-out;
}

.bottom-row a:hover {
    color: var(--clr-grad-3);
}

.bottom-row input,
label {
    float: left;
}

article {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article a img {
    width: 25rem;
    animation: img-animate 5s ease-in-out infinite;
    transition: .3s;
}

article a img:hover {
    -webkit-filter: drop-shadow(5px 5px 5px var(--clr-grad-3));
    filter: drop-shadow(5px 5px 5px var(--clr-grad-3));
}

@keyframes img-animate {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.MQTT_space{
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    background-color: yellow;
}
.MTQQ{
    width: 21rem;
    height: 22rem;
    background-color: var(--clr-bg);
    position: absolute;
    bottom: 4.1rem;
    right: 0;
    display: none;
    animation: sobe .2s;
}
.MTQQ::after, .MTQQ::before{
    content: "";
    position: absolute;
    inset: -.1rem;
    background: var(--background);
    border-radius: inherit;
    z-index: -1;
}
.MTQQ::after{
    filter: blur(3.5rem);
}
@keyframes sobe {
    0% {transform: translateY(20px); opacity: 0;}
    100% {transform: translateY(0px); opacity: 1;}
}
.window-name{
    width: 100%;
    height: 30px;
    background-color: var(--clr-grad-3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.mensages_space{
    width: 100%;
    height: 250px;
    display: flex;
    text-align: justify;
    overflow-y: scroll;
    word-break: break-word;
    color: var(--clr-font);
    padding-left: 1rem;
}
.input-mensage-send_space{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#mensagem{
    height: 1.5rem;
    background-color: white;
    border: none;
    border-radius: .2rem;
    padding: 0 .5rem;
}
#botao{
    background-color: var(--clr-grad-3);
    border: none;
    border-radius: .2rem;
    height: 1.5rem;
    width: 4rem;
    transition: .3s;
}
#botao:hover{
    background-color: var(--clr-grad-1);
}
.write-mensage{
    width: 210px;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
}
.chat-button
{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 70px;
    background-color: var(--bg-chat);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.chat-button::after{
    content: "";
    position: absolute;
    inset: -.1rem;
    background: var(--bg-chat);
    border-radius: inherit;
    z-index: -1;
    transition: .3s;
}
.chat-button::after{
    filter: blur(0);
}
.chat-button:hover::after{
    filter: blur(1rem);
}
